---
import Layout from '@/layouts/Layout.astro';
import App from '@/components/ChatApp.jsx';
import NavBar from '@/components/NavBar.astro';

const { chatId } = Astro.params;
---

<Layout title={`Chat #${chatId}`}>
  <nav class="absolute top-4 left-4">
    <a
      href="/home"
      class="text-blue-200 dark:text-blue-300 font-semibold hover:no-underline"
    >
      <span class="mr-2 text-lg">&larr;</span> Volver
    </a>
  </nav>
  <App client:load communityId={chatId} />
  <NavBar/>
</Layout>
