---
import Layout from "../layouts/Layout.astro";
import ThemeIcon from "../components/DarkModeToggle.astro";
import ChangePasswordForm from "../components/ChangePasswordForm.astro";
---

<Layout title="Restablecer Contraseña - AlertAR">
  <main>
    <ThemeIcon />
    <ChangePasswordForm />
  </main>
  <script src="/scripts/changePasswordVerify.js" defer></script>
</Layout>
