---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import logoAlarma from '../assets/alarma.jpg';
import logoReporte from '../assets/reporte.png';
import logoChat from '../assets/chat.jpg';

---

<Layout title='Welcome to Astro.'>
  <Header />
  <main class="flex justify-center items-center">
    <div class="container grid gap-4 grid-cols-1 md:grid-cols-3 md:grid-rows-2 w-4/5 mt-20 md:mt-0">
      <!-- Alarma Section -->
      <section class="alarma col-start-1 col-end-2 md:col-start-2 md:col-end-3 row-start-1 row-end-2">
        <figure>
          <picture>
            <img class="w-full h-auto object-cover" src={logoAlarma.src} alt="logoalarma" />
            <figcaption></figcaption>
          </picture>
        </figure>
      </section>

      <!-- Reporte Section -->
      <section class="reporte col-start-1 col-end-2 md:col-start-1 md:col-end-2 row-start-2 row-end-3 md:row-span-2">
        <figure>
          <picture>
            <img class="w-full h-auto object-cover" src={logoReporte.src} alt="logoReporte" />
            <figcaption></figcaption>
          </picture>
        </figure>
      </section>

      <!-- Chat Section -->
      <section class="chat col-start-1 col-end-2 md:col-start-3 md:col-end-4 row-start-2 row-end-3 md:row-span-2">
        <figure>
          <picture>
            <img class="w-full h-auto object-cover" src={logoChat.src} alt="logoChat" />
            <figcaption></figcaption>
          </picture>
        </figure>
      </section>
    </div>
  </main>
  <Footer />
</Layout>
