---
import Layout from "../layouts/Layout.astro";
import ThemeIcon from "../components/DarkModeToggle.astro";
import ForgotForm from "../components/ForgotForm.astro";
---

<Layout title="AlertAR - Recuperar Contraseña.">
		<main>
		  <ThemeIcon />
		  
		  <ForgotForm />
		</main>
</Layout>
