---
import Layout from '../layouts/Layout.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
import ForgotForm from '../components/ForgotForm.astro';
---

<Layout title="Bienvenido a AlertAR.">
		<main>
			<ThemeIcon />
			<ForgotForm/>
		</main>
</Layout>