---
import Chat from '../components/Chat';
---

<html lang="en">
  <head>
    <title>Chat App</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center; padding-top: 50px;">
      <Chat />
    </div>
  </body>
</html>
