<section
  class="flex items-center justify-center min-h-screen bg-gradient-to-b from-blue-300 to-blue-700 dark:bg-gradient-to-b dark:from-blue-800 dark:to-black"
>
  <div class="bg-white dark:bg-gray-800 text-center rounded-lg shadow-lg p-10">
    <h1 class="text-2xl font-bold text-black dark:text-gray-100 mb-4">
      ¡Alerta creada con Éxito!
    </h1>
    <p class="text-lg text-gray-700 dark:text-gray-300 mb-6">
      Tu alerta ha sido creada exitosamente. 
    </p>
    <a
      href="/home"
      class="mt-4 inline-block bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
    >
      Volver
    </a>
  </div>
</section>
