---
//Frontmatter

---

<main>
  <section id="report-container">
    <section id="chat-container">
      <p>Estoy para ayudarte con tu reporte.</p>
      <p>Podrias contarme mas acerca de lo sucedido?</p>
    </section>
    <textarea id="chat-user-message"></textarea>
    <button type="submit">Enviar</button>
  </section>
</main>

<style>
  main{
    color:#fafafa;
  }
</style>
