---
//Frontmatter
---

<main id="chat-container">
  <section id="messages-container">
    <section id="message-received-container">
      <picture id="profile-picture"></picture>
      <p>Hola!</p>
    </section>
  </section>
  <section id="message-sent-container">
    <textarea id="message-input"></textarea>
    <button id="send-message-button"> Enviar</button>
  </section>
</main>
<style>
  main{
    color:#fafafa;
  }
</style>
