---
import Layout from '../layouts/LayoutGrid.astro';
---

<Layout title='Welcome to Astro.'>
  <footer class='footer'>
    <h3>@AlertAR</h3>
  </footer>
</Layout>

<style>
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
