<div class="fixed bottom-16 right-4 flex items-center space-x-2 bg-transparent dark:bg-transparent p-2 rounded-lg transform pointer-events-none">
    <span class="text-sm text-gray-900 dark:text-gray-300 text-center">Powered by:</span>
    <img src="../../assets/img/logo-integrar.webp" alt="Fundación Integrar Logo" class="w-24 h-24 object-contain" />
    <span class="text-sm text-gray-900 dark:text-gray-300 mb-1 text-center">&</span>
    <img src="../../assets/img/logo-global-learning.webp" alt="Logo Global Learning" class="w-24 h-24 object-contain" />
  </div>
  