---

---

<div
  id="registerModal"
  class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden dark:bg-opacity-70"
>
  <div class="bg-white dark:bg-gray-800 dark:text-white p-6 md:p-10 rounded-lg shadow-md w-full max-w-md relative">
    <button
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-white"
      id="closeRegisterModalBtn"
      type="button"
    >
      Cerrar
    </button>
    <h2 class="text-center text-2xl mb-4">Registrarse</h2>
    <div class="flex flex-col gap-4 mb-6">
      <button
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-full md:w-auto"
      >
        <img src="/fb.webp" alt="Facebook icon" class="w-6 h-6 inline-block" />
        Registrarse con Facebook
      </button>
      <button
        type="button"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full w-full md:w-auto"
      >
        <img src="/google.webp" alt="Google icon" class="w-6 h-6 inline-block" />
        Registrarse con Google
      </button>
      <button
        type="button"
        class="bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded-full w-full md:w-auto"
      >
        <img src="/apple.webp" alt="Apple icon" class="w-6 h-6 inline-block" />
        Registrarse con Apple
      </button>
    </div>
    <div class="text-center mb-4">
      <p class="text-gray-600">- O -</p>
    </div>
    <form
      action="/register"
      method="post"
    >
      <div class="mb-4">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Nombre y Apellido"
          class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-4">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Correo Electrónico"
          class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-6">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Contraseña"
          class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-6">
        <input
          type="password"
          id="password-confirm"
          name="password-confirm"
          placeholder="Confirmar contraseña"
          class="shadow appearance-none border rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          required
        />
      </div>
      <div class="mb-6">
        <div class="flex items-center">
          <input
            type="checkbox"
            id="terms"
            name="terms"
            class="h-4 w-4 rounded-md border-gray-300 focus:ring-blue-500 focus:ring-2"
            required
          />
          <label for="terms" class="ml-2 text-gray-600 text-sm">
            Acepto los Términos y Condiciones de uso
          </label>
        </div>
      </div>
      <button
        type="submit"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full w-full focus:outline-none focus:shadow-outline"
      >
        Registrarse
      </button>
    </form>
  </div>
</div>
