---
//Frontmatter
---

<body>
   <main>
     <form>
       <label>Email: </label>
      <input/>
       <label for="password">Contraseña: </label>
      <input type="password" id="password"/>
       <label></label>
       <button>Registrarse</button>
     </form>
     <section>
       <button>Ya sos miembro? Inicia Sesión.</button>
       <button>Olvide mi contraseña</button>
     </section>
     <section>
       <label></label>
       <button>Registrarse con Google.</button>
     </section>
   </main>
</body>
<style>
  main{
    color:#fafafa;
  }
</style>
