---
// Este es el componente que se mostrará cuando un usuario sea creado exitosamente.
---

<section class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900">
    <div class="bg-white dark:bg-gray-800 text-center rounded-lg shadow-lg p-10">
      <h1 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">¡Usuario Creado con Éxito!</h1>
      <p class="text-gray-600 dark:text-gray-300">Tu cuenta ha sido creada exitosamente. Ahora puedes iniciar sesión.</p>
      <a href="/joinCommunity" class="mt-4 inline-block bg-blue-500 text-white py-2 px-6 rounded-full hover:bg-blue-700">
        Iniciar Sesión
      </a>
    </div>
  </section>
  