---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class=" bg-blue-400 text-black dark:bg-blue-900 dark:text-white">
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  body {
    transition: background-color 0.5s ease, color 0.5s ease;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
  }

  .bg-white,
  .dark .bg-gray-800 {
    transition: background-color 0.5s ease;
  }

  .text-gray-700,
  .dark .text-gray-300 {
    transition: color 0.5s ease;
  }
</style>
